<ion-header *ngFor="let item of toprinted">
  <ion-toolbar>
    <ion-title>{{item.row_name}}</ion-title>
    <span style="margin-left: 6%;">{{item.status}}</span>
  </ion-toolbar>
</ion-header>

<ion-content>
<div  *ngFor="let item of toprinted" style="background-color: dimgrey;">
  <img class="title-image" src="/assets/{{item.img}}" width="200" height="100" style="margin-left: 9%;" id="1" (click)="onClick($event)"/>
<ion-list>
  <ion-item>
    <ion-label>{{item.position}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{item.real_name}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{item.fans}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{item.connection}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{item.type}}</ion-label>
  </ion-item>
</ion-list>
</div>
</ion-content>
