
<ion-header *ngFor="let item of toprinted">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{item.row_name}}</ion-title>
    <span style="margin-left: 6%;">{{item.status}}</span>
  </ion-toolbar>
</ion-header>


<ion-content>
<div  *ngFor="let item of toprinted" >
  <img class="title-image" src="/assets/{{item.img}}" width="200" height="100" style="margin-left: 21%;" id="1" (click)="onClick($event)"/>
<ion-list>
  <ion-item>
    <ion-label>POSITION</ion-label>
    <p>{{item.position}}</p>
  </ion-item>
  <ion-item>
    <ion-label>REAL NAME</ion-label>
    <p>{{item.real_name}}</p>
  </ion-item>
  <ion-item>
    <ion-label>FANS</ion-label>
    <p>{{item.fans}}</p>
  </ion-item>
  <ion-item>
    <ion-label>CONNECTIONS</ion-label>
    <p>{{item.connection}}</p>
  </ion-item>
  <ion-item>
    <ion-label>TYPE</ion-label>
    <p>
      {{item.type}}
    </p>
  </ion-item>
</ion-list>
</div>
</ion-content>
