.container_div{
    width:245px;
    display: block;
    overflow: auto;
    border:1px solid #000;
    margin-left: 16%;
    background: #ccc;
}


ion-content{

    --ion-background-color:rgb(82, 87, 83);
}